@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/*Css Reset => resets everything so the browsers look the same from a starting point*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
nav,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
nav,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** App globals
support other browsers:
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
**/

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: none;
}

a.active {
  font-weight: 700;
  color: #f9da85;
}

.wrapper {
  display: flex;
  height: 100%;
  min-height: 100%;
}

/** Nav**/

nav {
  background-color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 385px;
  padding: 16px 32px;
}

nav h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 1.2;
  transition: color 0.4s ease;
}

nav h1:hover {
  color: #f9da85;
}

nav p {
  color: #999999;
  font-style: italic;
  font-size: 14px;
}

nav a.author {
  font-style: italic;
  color: #999999c4;
  font-size: 12px;
}

nav ul {
  margin-bottom: 48px;
}

nav ul li {
  margin-bottom: 16px;
}

nav ul li a {
  font-size: 14px;
  position: relative;
}

nav ul li a.active:before {
  background-color: #f9da85;
}

nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before {
  visibility: visible;
  width: 100%;
}

nav ul li:last-of-type {
  margin-bottom: 0;
}

/** Main **/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

main section {
  display: flex;
  height: 100%;
  max-width: 900px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
}

main section h2 {
  color: #000000;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 32px;
}

main section p {
  color: #383838;
  margin-bottom: 16px;
}

main section img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  border: 10px solid #f9da85;
  max-width: 98%;
  height: auto;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

/** Main-Home **/

main section.home {
  flex-direction: row;
  display: inline-block;
}

main section.home .avatar {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-right: 64px;
  margin-bottom: 10px;
}

main section.home .content ul {
  display: flex;
}

main section.home .content ul li {
  margin-right: 24px;
}

main section.home .content ul li:last of type {
  margin-right: 0;
}

main section.home .content ul li svg {
  width: 17px;
  height: 17px;
  transition: fill 0.4s ease;
}

main section.home .content ul li svg:hover {
  fill: #f9da85;
}

main section.home .content p {
  margin-bottom: 32px;
}

/** Animations **/
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
